.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 7px;
}
.leftHeader {
  display: flex;
  align-items: center;
}
.leftHeader img {
  width: 44px;
  height: 40px;
}
.leftHeader h1 {
  font-size: 1.2rem;
  color: gray;
  font-weight: 500;
}
.centerHeader {
  width: 60%;
  display: none;
}
.centerHeader input {
  width: 90%;
  padding: 10px 5px;
  outline: none;
  background-color: #f1f3f4;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 1rem;
}
.rightHeader {
  margin-right: 4%;
  cursor: pointer;
}
